extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous inscrivez les frais annexe du deplacement effectué
        .page-header


        .lead
        form.form-horizontal(action="/frais/", method="post")

            div
                input(hidden type = text, name = "motif", value = motif)
            div
                input(hidden type = text, name = "villeD", value = villeD)
            div
                input(hidden type = text, name = "villeA", value = villeA)
                input(hidden type = number, name = "kiloM", value = kiloM)
                input(hidden type = number, name = "cout", value = cout)
                input(hidden type = date, name = "date", value = date)

            div
                label Montant Total Péage:
                input(type="number", name="montantPeage", value=0, min="0")
            div
                label Montant Total Repas:
                input(type="number", name="montantRepas", value=0, min="0")
            div
                label Montant Total Hébergement:
                input(type="number", name="montantHebergement", value=0, min="0")
            div
                input(type="submit", value="Valider")
