extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h3  Ici vous inscrivez les frais de deplacement effectué
        .page-header


        .lead
            form.form-horizontal(role="form" id="fraisForm")
                div(class="form-group offset-lg-2 row")
                    label= "Motif du déplacement :"
                    input(type="text", name="motif", id="motif", class="form-control")
                    span(class="help-block" style="display: none; color:red;") Le motif est obligatoire
                div(class="form-group offset-lg-2 row")
                    label="Date du déplacement : "
                    input(type="date", name="date", id="date", class="form-control")
                    span(class="help-block" style="display: none; color:red;") La date est obligatoire
                div(class="form-group offset-lg-2 row")
                    label= "Lieu de départ :"
                    input(type="text", name="villeD", id="villeD", class="form-control")
                    span(class="help-block" style="display: none; color:red;") Le lieu de départ est obligatoire
                div(class="form-group offset-lg-2 row")
                    label= "Lieu d'arrivée :"
                    input(type="text", name="villeA", id='villeA', class="form-control")
                    span(class="help-block" style="display: none; color:red;") Le lieu d'arrivée est obligatoire
                div(class="form-group offset-lg-2 row")
                    label Montant Total Péage:
                    input(type="number", name="montantPeage", value=0, min="0" id='montantPeage' class='form-control')
                div(class="form-group offset-lg-2 row")
                    label Montant Total Repas:
                    input(type="number", name="montantRepas" id="montantRepas", class='form-control' value=0, min="0")
                div(class="form-group offset-lg-2 row")
                    label Montant Total Hébergement:
                    input(type="number", name="montantHebergement" class='form-control' id="montantHebergement", value=0, min="0")

                    input(type="text", name="parcourus", id='kiloM' hidden)
                div
                    input(type="submit", class="btn btn-primary" value="Valider" id="validButton")

                script.
                    var contactFormUtils = {
                        addError: function ($input) {
                            var parentFormGroup = $input.parents('.form-group');
                            parentFormGroup.children('.help-block').show();
                            parentFormGroup.addClass('has-error');
                        },
                        clearErrors: function () {
                            $('#Alert').remove();
                            $('#inscriptionForm .help-block').hide();
                            $('#inscriptionForm .form-group').removeClass('has-error');
                        }
                    };

                    $(document).ready(function () {

                        /* auto-complete lieu de départ */
                        var optionsVD = {
                            componentRestrictions: {country: 'fr'}
                        };
                        var input = document.getElementById('villeD');
                        autocomplete = new google.maps.places.Autocomplete(input, optionsVD);

                        google.maps.event.addListener(autocomplete, 'place_changed', function () {
                            var placeVD = autocomplete.getPlace();
                        });

                        /* auto-complete lieu d'arrivée */
                        var optionsVA = {
                            componentRestrictions: {country: 'fr'}
                        };
                        var input = document.getElementById('villeA');
                        autocomplete = new google.maps.places.Autocomplete(input, optionsVA);

                        google.maps.event.addListener(autocomplete, 'place_changed', function () {
                            var placeVA = autocomplete.getPlace();
                        });

                        $('#validButton').click(function (e) {
                            e.preventDefault();
                            contactFormUtils.clearErrors()

                            var hasErrors = false;

                            // motif
                            var $motif = $('#motif');
                            if (!$.trim($motif.val())) {
                                hasErrors = true;
                                contactFormUtils.addError($motif);
                            }

                            // Date
                            var $date = $('#date');
                            if (!$.trim($date.val())) {
                                hasErrors = true;
                                contactFormUtils.addError($date);
                            }

                            // villeD
                            var $villeD = $('#villeD');
                            if (!$.trim($villeD.val())) {
                                hasErrors = true;
                                contactFormUtils.addError($villeD);
                            }

                            // villeA
                            var $villeA = $('#villeA');
                            if (!$.trim($villeA.val())) {
                                hasErrors = true;
                                contactFormUtils.addError($villeA);
                            }

                            if (hasErrors) {
                                return false;
                            }

                            var origin = $('#villeD').val();
                            var destination = $('#villeA').val();

                            var service = new google.maps.DistanceMatrixService();
                            service.getDistanceMatrix(
                                {
                                    origins: [origin],
                                    destinations: [destination],
                                    travelMode: 'DRIVING',
                                }, callback);

                            function callback(response, status) {
                                if (status == 'OK') {
                                    var origins = response.originAddresses;

                                    for (var i = 0; i < origins.length; i++) {
                                        var results = response.rows[i].elements;
                                        for (var j = 0; j < results.length; j++) {
                                            var element = results[j];
                                            $('#kiloM').val(element.distance.value / 1000);
                                            console.log($('#kiloM').val());
                                        }
                                    }
                                    let cout = parseFloat().toFixed(2);
                                    let kiloM = $('#kiloM').val();
                                    if (kiloM <= 5000)
                                        cout = kiloM * 0.493;
                                    else if (kiloM > 5000 && kiloM <= 20000)
                                        cout = kiloM * 0.277 + 1082;
                                    else
                                        cout = kiloM * 0.332;

                                    var fraisInfos = {
                                        motif: $('#motif').val(),
                                        cout: cout,
                                        date: $('#date').val(),
                                        villeD: $('#villeD').val(),
                                        villeA: $('#villeA').val(),
                                        kiloM: $('#kiloM').val(),
                                        montantHebergement: $('#montantHebergement').val(),
                                        montantPeage: $('#montantPeage').val(),
                                        montantRepas: $('#montantRepas').val(),

                                    };

                                    $.ajax({
                                        url: 'http://localhost:3000/frais',
                                        method: 'post',
                                        data: fraisInfos,
                                        dataType: 'json',
                                        complete: function (data, status) {
                                            if (status == 'error') {
                                                alert("Erreur : un problème est survenu lors de l'enregistrement. Veuillez réessayer ultérieurement ou vérifier vos informations.");
                                            }
                                            alert('complete success');
                                            //location.replace('/');
                                        }
                                    });
                                }
                            }

                        });

                    });