extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Les Hauts faits de la maison des ligues
            p
                | La Maison des Ligues de Lorraine (M2L) et bah c'est la meilleur
        .page-header





        .lead

            a(href='../hauts_faits/j_o_p') Au Jeux Olympique et Paralympique !! </br>
            a(href='../hauts_faits/articles') Vu dans la presse !</br>
            a(href='../hauts_faits/statistiques') Quelques statistiques </br>

