extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Les infos sur la maison des ligues
            p
                | La Maison des Ligues de Lorraine (M2L) et bah vous savez pas tout d'elle
        .page-header

            h3 Annuaire de toooooute nos ligues</br>


        lead
            a(href='../informations/presentation') La M2L</br>
            a(href='../informations/annuaire') Annuaire des ligues</br>

