extends layout

block append body
    .container.theme-showcase(role='main')


        .page-header

            h3 Au Jeux Olympique et Paralympique !! </br>



        p.lead
            | Maison des ligues
