extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Les infos sur la maison des ligues
            p
                | La Maison des Ligues de Lorraine (M2L) et bah vous savez pas tout d'elle


        .page-header

            h3 La M2L </br>

        p.lead
            | La Maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux différentes
            |
            | ligues sportives régionales et à d’autres structures hébergées. La M2L est une structure financée par le Conseil
            |
            | Régional de Lorraine dont l'administration est déléguée au Comité Régional Olympique et Sportif de Lorraine
            |
            | (CROSL).

        .page-header

            h3 La structure des locaux </br>

        p.lead
            | Le site se compose de quatre bâtiments, dont deux dotés de quatre étages et donc de 5 niveaux (les bâtiments
            |
            | A et C) et deux de plain-pied (les bâtiments B et D) dotés d’un seul rez-de-chaussée. Les bâtiments C et D sont
            |
            | neufs. Les bâtiments A et B datent d'une quinzaine d'années. </br>
            |
            | Les étages des bâtiments A et C hébergent les bureaux des ligues locataires et le rez-de-chaussée des quatre
            |
            | bâtiments héberge des espaces mutualisés :</br>
            |
            | un amphithéâtre de 200 places avec une régie</br>
            |
            | 8 salles de réunion de 12 à 50 places</br>
            |
            | un hall d'accueil </br>
            |
            | une salle de convivialité et son office traiteur</br>
            |
            | une salle de formation multimédia dotée de 24 postes.</br>
            |
            | On y trouve également la partie «accueil» des neuf bureaux de l'administration de la M2L.
            |
            | L’autre partie se trouve au premier étage du bâtiment C. Différents locaux de service
            |
            | (archives, stockage local d'entretien ...) se trouvent en sous-sol.
            |
            | En fonction de leur taille, les 24 structures hébergées occupent un ou plusieurs bureaux. Au total, la M2L offre
            |
            | 80 bureaux. A chaque étage des bâtiments de bureaux se trouve une petite salle de réunion que les ligues
            |
            | utilisent sans réservation. L'ensemble des autres salles ressources sont accessibles sur réservation, en journée
            |
            | comme en soirée.
        .page-header

            h3 La structure des locaux </br>

