extends layout

block append body
    p liste des deplacements
    ul
        each deplacement in lesDeplacements
            li=deplacement.villeA
            li=deplacement.villeD
            li=deplacement.cout
            br