extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            form.form-horizontal(action="/users/signUp", method="post")
                div
                    label= "E-mail: "
                    input(type="text", id="newEmail", name="eMail")
                div
                    label= "Username: "
                    input(type="text", id="newUsername" ,name="newUsername")
                div
                    label= "Password: "
                    input(type="password", id="newPassword", name="Password")
                div
                    input(type="submit", value="Sign Up")